
<div class="field works">
  In my lab, you will enjoy field works, hands-on learning, and a new network with awesome people in the field!
  The below are subset of my previous deployments for real-world validations. There are a lot more:)
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/mingi.gif" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>

  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/delaware-group.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/delaware1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="caption">
      Delaware, USA
  </div>
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/barbados-group.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>

      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/barbados-scuba.png" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/barbados1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/barbados-sunset.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="caption">
      Carribean Sea, Barbados
  </div>
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/korea-sensor.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/korea1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="caption">
      Busan, Korea
  </div>
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/connecticut-river.gif" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/connecticut-headon.gif" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="caption">
      Connecticut River, USA
 </div>
  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/maine.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/seamachines.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
  <div class="caption">
      New England Area, USA
 </div>
</div>
