
<div class="field works">

  <p class="mb-4">
    <h2><b>Field Works</b></h2>
  </p>
  In my lab, you will enjoy field works, hands-on learning, and a new network with awesome people in the field!
  Please refer to <a href="/fieldwork.html" style="color: green; font-weight: bold;">field work page</a> for more details.

  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/mingi.gif" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>

  <div class="row">
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/delaware-group.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
      <div class="col-sm mt-3 mt-md-0">
          {% include figure.html path="assets/img/field_experiments/barbados1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
      </div>
  </div>
</div>
