<div class="honors">
    <h2><b>Selcted Honors and Awards</b></h2>
    {% if site.honors  %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% assign honors = site.honors | reverse %}
        {% for item in honors %}
          <tr>
            <!-- <th scope="row">{{ item.year | date: "%Y" }}</th> -->
            <th scope="row">{{ item.year }}</th>
            <td>
              {% if item.inline %}
                <b>{{ item.title }}</b>, &nbsp;{{ item.where }}
                {% if item.content != blank %}
                  - 
                {% endif %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="honors-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    {% else %}
      <p>No news so far...</p>
    {% endif %}
  </div>